
body{
  background: lightblue;
  font-size: 20px;
}
.wrappi{
 width: 10rem;
  margin-top: 0.5rem;
  padding: 0.3rem;
  border:0.3rem solid #222;
  margin-bottom: 0.1rem;
  margin-left: 0.5rem;
}
.reset{
  background: #ddd;
  margin-left: 0.5rem;

}
.topSpan{
  
  color: white;
  text-shadow: 0.1rem 0.1rem 0.11rem #222;
  text-decoration: underline;
  margin-left: 0.7rem;
}
.spanni {
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  background: linear-gradient(45deg, red, lightblue,lightblue);
}

.spanniTiukka {
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  background: linear-gradient(320deg, green, lightblue,lightblue);
    margin: 0;
    }

  button{
  border: 0.2rem solid #222;
  margin-top: 0;
  padding: 0.2rem;
  margin-left: 1rem;
  background: linear-gradient(45deg, yellow, orange)
}
.deleteButton{
  background: linear-gradient(45deg, blue, lightblue);
  padding: 0.2rem;
}

